@media only screen and (max-width: 1199px) {
    .carousel-block img {
        height: 9rem;
    }
    .filterItem img {
        height: 6.5rem;
    }
    .filterItem h5{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .container, .container-md, .container-sm {
        max-width: 850px;
    }
    .navbar .nav {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .filterItem img {
        height: 5rem;
    }
    .custom-shape-divider-bottom-1608905041 {
        bottom: -.1rem;
    }
}

@media only screen and (max-width: 880px) {
    .navbar {
        height: 3.5rem;
    }
    .navbar-brand {
        padding: 0;
    }
    .nav {
        position: absolute;
        right: -16px;
        height: 94vh;
        top: 2.95rem;
        padding-top: 30%;
        padding-bottom: 30%;
        background: rgb(52, 58, 64);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        border-left: .05rem solid #333;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }
    .nav li {
        opacity: 0;
        transition: 2s ease;
        transform: translateX(200px);
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    #portfolio .hireMeBtn {
        display: none;
    }
    .filterBtn button {
        font-size: .8rem;
    }
    .connect h5 {
        font-size: 1.1rem;
    }
    .myPhotos {
        margin: auto;
        margin-bottom: 3rem;
        overflow: hidden;
    }
    .myPicture {
        position: relative;
    }
}

@media only screen and (max-width: 576px) {
    .navLogo {
        font-size: 1.5rem;
    }
    .navbar .nav {
        top: 2.7rem;
        height: 95vh;
        width: 80%;
        padding-top: 40%;
        padding-bottom: 40%;
    }
    .header {
        background-position: right;
    }
    .carousel-block img {
        height: 7rem;
    }
    .carousel-caption-detail h3 {
        font-size: 1.3rem;
    }
    .carousel-caption-detail p {
        font-size: .8rem;
    }
    .filterItem img {
        height: 6rem;
    }
    .filterBtn {
        display: block;
    }
    .filterBtn button {
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 480px) {
    .heading h1 {
        font-size: 2rem;
    }
    .navbar .nav {
        width: 112%;
    }
    .carousel-block img {
        height: 6rem;
    }
    .carousel-caption-detail h3 {
        font-size: 1.1rem;
    }
    .carousel-caption-detail p {
        font-size: .7rem;
    }
    .filterBtn .btn {
        width: 49%;
        padding: .375rem;
    }
}

@media only screen and (max-width: 420px) {
    .carousel-inner {
        background: linear-gradient(to right, transparent,#020914ee, #020914ee, transparent), url(bg-img/carousel-bg.jpg) ;
        background-size: 70vw;
        background-repeat: no-repeat;
        background-position: center;
    }
    .carousel-block img {
        opacity: 0;
    }
    .carousel-caption {
        left: 0;
    }
    .filterItem img {
        height: 5rem;
    }
    .testimonial .content {
        height: auto;
    }
}

@media only screen and (max-width: 340px) {
    .navLogo {
        font-size: 1.3rem;
    }
    .filterBtn .btn {
        height: 3rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .filterItem img {
        height: 4rem;
    }
}