/* @media only screen and (max-width: 1300px) {
    .navbar .nav {
        margin-left: 5rem;
        margin-right: 5rem;
    }
} */

@media only screen and (max-width: 1199px) {
    .carousel-block img {
        height: 9rem;
    }
    .filterItem img {
        height: 6.5rem;
    }
    .filterItem h5{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1040px) {
    .myWorks .card {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media only screen and (max-width: 992px) {
    .container, .container-md, .container-sm {
        max-width: 850px;
    }
    .navbar .nav {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .header .hireMeBtn {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
    .carousel-block {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    .carousel-block img {
        height: 7rem;
    }
    .carousel-caption-detail h3 {
        font-size: 1.5rem;
    }
    .filterItem img {
        height: 5rem;
    }
    .custom-shape-divider-bottom-1608905041 {
        bottom: -.1rem;
    }
}

@media only screen and (max-width: 880px) {
    .navbar {
        height: 3.5rem;
    }
    .nav {
        position: absolute;
        right: -16px;
        height: 94vh;
        top: 2.95rem;
        padding-top: 30%;
        padding-bottom: 30%;
        background: rgb(52, 58, 64);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        border-left: .05rem solid #333;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }
    .nav li {
        opacity: 0;
        transition: 2s ease;
        transform: translateX(200px);
    }
    .burger {
        display: block;
        cursor: pointer;
    }
    .carousel-block {
        padding-top: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-block img {
        height: 5rem;
        padding: 0;
        padding-left: 15%;
    }
    .carousel-caption-detail {
        margin: 0;
        padding: 0;
        margin-left: 40%;
    }
    .carousel-caption-detail h3 {
        font-size: 1.3rem;
    }
    .carousel-caption-detail p {
        font-size: .8rem;
    }
    #portfolio .hireMeBtn {
        display: none;
    }
    .filterBtn button {
        font-size: .8rem;
    }
    .filterItem img {
        height: 6.5rem;
    }
    .connect h5 {
        font-size: 1.1rem;
    }
    .myPhotos {
        margin: auto;
        margin-bottom: 3rem;
    }
    .myPicture {
        position: relative;
    }
}

@media only screen and (max-width: 576px) {
    .navLogo {
        font-size: 1.5rem;
    }
    .navbar .nav {
        top: 2.7rem;
        height: 95vh;
        width: 80%;
        padding-top: 40%;
        padding-bottom: 40%;
    }
    .header {
        background-position: right;
    }
    .carousel-block img {
        height: 4rem;
    }
    .carousel-caption-detail h3 {
        font-size: 1.1rem;
    }
    .carousel-caption-detail p {
        font-size: .6rem;
    }
    .filterBtn button {
        font-size: .6rem;
    }
}

@media only screen and (max-width: 480px) {
    .navbar .nav {
        width: 110%;
    }
    .carousel-caption-detail h3 {
        font-size: 1rem;
    }
    .filterBtn {
        display: block;
    }
    .filterBtn button {
        margin-bottom: .5rem;
    }
}